.paginaInicial {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden; 
}

.conteudo {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.logoRedonda {
  position: absolute;
  height: 300px;
  top:5rem;
  left: 2rem;
  z-index: 100;
}

.links {
  display: flex;
  gap: 100px;
  color: #416110;
  font-weight: bold;
  font-size: 18px;
  margin-left: 280px; 
}

.links a {
  text-decoration: none;
  color: #416110;
  transition: color 0.3s;
}

.links a:hover {
  color: green;
}

.textoPrincipal {
  flex: 1;
  display: flex;
  justify-content: flex-end;  
  align-items: flex-end;      
  padding: 4rem;               
}

.textoContainer {
  text-align: left;            
  max-width: 1000px;           
}

.textoContainer h2 {
  color: #ebe7d6;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.textoContainer h1 {
  color: #ebe7d6;
  font-weight: 900;
  font-size: 36px;
  margin: 8px 0 0 0;
}

@media (min-width: 768px) {
  .textoContainer h2 {
    font-size: 32px;
  }
  .textoContainer h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
    margin-left: 0;
  }

  .logoEscrita {
    display: none;
  }
  
  .fundoBtn{
    display: flex;
  }

  .menuBtn {
    display: block;
    position: fixed;   
    top: 20px;         
    right: 10px;       
    z-index: 50; 
    background: #ebe7d6;
    border-radius: 100px;
    padding: 6px;
    display: flex;
    justify-content: center;
  }
  
  .logoRedonda {
    height: 170px;
    margin-top: 1rem;
    margin-left: -1rem;
    z-index: 30;
  }
  
  .textoPrincipal {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;

  }
  
  .textoContainer {
    margin: 20rem -2rem 0;
    text-align: left;
    max-width: 220px;
  }
  
  .textoContainer h2,
  .textoContainer h1 {
    text-align: left;
   display: flex;
   justify-content: end;
  }

.linksMobile {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  color: #416110;
  font-weight: bold;
  font-size: 18px;
  margin-left: 0; 
  align-items: start;
  margin-top: 6rem; 
}

.linksMobile a {
  text-decoration: none;
  color: #416110;
  transition: color 0.3s;
}

.linksMobile a:hover {
  color: green;
}

  
}